<div class="gp_wrapper">
    <div class="row sorting">
        <label>Sort By:</label>
        <select ng-model="c.data.sortingField" ng-change="c.sortProjects()" ng-options="sortingField.label for sortingField in c.data.sortingFields track by sortingField.value">
            <option value="">Created</option>
        </select>
    </div>
    <span class="glyphicons glyphicons-delete"></span>
    <div class="container">
        <div class="divTable" ng-if="!c.showProgressBar()">
            <div class="row divTableHeading">
                <div class="col-sm-2 divTableHead">Project</div>
                <div class="col-sm-1 divTableHead" ng-repeat="state in c.data.states track by $index" ng-class="{active: state.value.value === c.filter_state.value.value}"
                     ng-click="c.setFilter(state)">
                    <span ng-if="state.value.value === c.filter_state.value.value" class="alert-danger fa fa-times"></span> {{state.label.display_value}}
                </div>
            </div>
            <div class="row divTableRow" ng-if="!c.updatingData" ng-repeat="project in c.data.projects track by $index" ng-class="{divTableRowOdd:$odd, divTableEvenRow:$even}">
                <a href="inspire?id=form&table={{project.table}}&sys_id={{project.sys_id.display_value}}">
                    <div class="col-sm-2 divTableCell">
                        <div>{{project.number.display_value}}</div>
                        <div class="text-muted">{{project.short_description.display_value}}</div>
                    </div>
                    <div class="divTableCell" ng-class="c.progressBarClass()">
                        <div class="checkout-wrap">
                            <ul class="checkout-bar">
                                <li ng-style="c.progressBarLength()" ng-repeat="state in c.data.states track by $index" ng-class="c.progressBarState(this)"></li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--MOBILE-->
        <div class="mobile-progressbar divTable" ng-if="c.showProgressBar()">
            <div class="row divTableRow" ng-if="!c.updatingData" ng-repeat="project in c.data.projects track by $index" ng-class="{divTableRowOdd:$odd, divTableEvenRow:$even}">
                <a href="inspire?id=form&table={{project.table}}&sys_id={{project.sys_id.display_value}}">
                    <div class="row col-sm-2 divTableCell info">
                        <div class="col-sm-1"><strong>{{project.number.display_value}}</strong></div>
                        <div class="col-sm-1">{{project.short_description.display_value}}</div>
                    </div>
                    <div class="col-sm-2 divTableCell">
                        <uib-progressbar animate="false" value="c.getProjectAdvancePercentage(project)" type="success">
                            <b>{{project.state.display_value}}</b>
                        </uib-progressbar>
                    </div>
                </a>
            </div>
        </div>
        <div class="row divTableRow" ng-if="!c.updatingData">
            <ul uib-pagination direction-links="false" boundary-links="true" force-ellipses="true" total-items="c.data.pagination.total_items.total" items-per-page="c.data.pagination.items_in_pages"
                ng-model="c.data.pagination.current_page" max-size="c.data.pagination.max_size" ng-change="c.pageChanged()"></ul>
        </div>
        <div ng-show="c.updatingData" class="row divTableRow">
            <span class="fa fa-spinner fa-2 spinner"></span>Loading
        </div>
    </div>
</div>