<div class="gp_wrapper">
    <div class="row sorting form-group">
        <div class="col-md-2">
            <label class="">Team member</label>
            <div class=""><select class="form-control" ng-model="c.tManagerSelected" ng-change="c.FilterBy()" ng-options="tManager.name for tManager in c.data.InspireProjects track by tManager.sys_id"></select></div>
        </div>
        <div class="col-md-2">
            <label class="">Geo Location</label>
            <div class=""><select class="form-control" ng-model="c.geoLocationSelected" ng-change="c.FilterBy()" ng-options="geoLocation for geoLocation in c.data.GeoLocations track by geoLocation"></select></div>
        </div>
        <div class="col-md-2">
            <label class="">Engagement Type</label>
            <div class=""><select class="form-control" ng-model="c.EngagemenTypeSelected" ng-change="c.FilterBy()" ng-options="enga for enga in c.EngagemenTypeValues track by enga"></select></div>
        </div>
        <div class="col-md-2">
            <label class="">State</label>
            <div class=""><select class="form-control" ng-model="c.StateSelected" ng-change="c.FilterBy()" ng-options="stat for stat in c.StateValues track by stat"></select></div>
        </div>
        <div class="col-md-2">
            <label class="">Show</label>
            <div class=""><select class="form-control" ng-model="c.onHoldOptionSelected" ng-change="c.FilterBy()" ng-options="holdOption for holdOption in c.onHoldOptions track by holdOption"></select></div>
        </div>
        <!--<button class="btn" ng-model="c.data.sortDirection" ng-click="(c.data.sortDirection=c.data.sortDirection==='Desc'?'Asc':'Desc') && c.updateData('get')">{{data.sortDirection}}</button>-->
    </div>
    <span class="glyphicons glyphicons-delete"></span>
    <div class="container">
        <div class="divTable" ng-if="!c.showProgressBar()">
            <div class="row divTableHeading">
                <div class="col-sm-2 divTableHead">Project</div>
                <div class="col-sm-1 divTableHead" ng-repeat="state in c.data.states track by $index" ng-class="{active: state.value.value === c.filter_state.value.value}"
                     ng-click="c.setFilter(state);">
                    <span ng-if="state.value.value === c.filter_state.value.value" class="alert-danger fa fa-times"></span> {{state.label.display_value}}
                </div>
            </div>
            <div class="row divTableRow" ng-if="!c.updatingData" ng-repeat="project in c.data.projects track by $index" ng-class="{divTableRowOdd:$odd, divTableEvenRow:$even}"
                 title="Status : {{project.senior_mgmt_update}}  Updated: {{project.updateDate}} Phase: {{project.phase.display_value}}">
                <a href="inspire?id=form&table={{project.table}}&sys_id={{project.sys_id.display_value}}">
                    <div class="col-sm-2 divTableCell">
                        <div>{{project.inspire_account.display_value}}</div>
                        <div ng-show="project.project_type.value != 'tsp1'">
                            <div class="text-muted">{{project.assigned_to.display_value}}</div>
                        </div>
                        <div ng-show="project.project_type.value == 'tsp1'">
                            <div class="text-muted">{{project.short_description.display_value}}</div>
                            <div class="text-muted">{{project.engagement_type.display_value}}</div>
                            <div class="text-muted">{{project.project_manager.display_value}}</div>
                            <div class="text-muted">{{project.general_state.display_value}}</div>
                        </div>

                    </div>
                    <div class="divTableCell" ng-class="c.progressBarClass()">
                        <div class="checkout-wrap">
                            <ul class="checkout-bar">
                                <li ng-style="c.progressBarLength()" ng-repeat="state in c.data.states track by $index" ng-class="c.progressBarState(this)"></li>
                            </ul>
                        </div>
                    </div>

                </a>
            </div>
        </div>
        <!--MOBILE-->
        <div class="mobile-progressbar divTable" ng-if="c.showProgressBar()">
            <div class="row divTableRow" ng-if="!c.updatingData" ng-repeat="project in c.data.projects track by $index" ng-class="{divTableRowOdd:$odd, divTableEvenRow:$even}">
                <a href="inspire?id=form&table={{project.table}}&sys_id={{project.sys_id.display_value}}">
                    <div class="row col-sm-2 divTableCell info">
                        <div class="col-sm-1"><strong>{{project.inspire_account.display_value}}</strong></div>
                        <div class="col-sm-1">{{project.short_description.display_value}} - {{project.engagement_type.display_value}} {{project.project_manager.display_value}}</div>
                    </div>
                    <div class="col-sm-2 divTableCell">
                        <uib-progressbar animate="false" value="c.getProjectAdvancePercentage(project)" type="{{project.on_hold.value == '1' ? 'danger' : 'success'}}">
                            <b>{{project.state.display_value}}</b>
                        </uib-progressbar>
                    </div>
                </a>
            </div>
        </div>

        <div class="row divTableRow" ng-if="!c.updatingData" ng-show="c.data.pagination.total_items >= c.data.pagination.items_in_pages">
            <ul uib-pagination direction-links="false" boundary-links="true" force-ellipses="true" total-items="c.data.pagination.total_items" items-per-page="c.data.pagination.items_in_pages"
                ng-model="c.data.pagination.current_page" max-size="c.data.pagination.max_size" ng-change="c.pageChanged()"></ul>
        </div>
        <div ng-show="c.updatingData" class="row divTableRow">
            <span class="fa fa-spinner fa-2 spinner"></span>Loading
        </div>
    </div>
</div>