<div class='container divTable'>
    <div class='row divTableRow divTableHeading'>
        <div class='col-sm-2 divTableHead'>Project</div>
        <div class='col-sm-1 divTableHead' ng-repeat="state in c.data.states track by $index">{{state.label.display}}</div>
    </div>
    <div class='row divTableRow' ng-repeat="p in c.data.projects track by $index"
         ng-class="{divTableRowOdd:$odd, divTableEvenRow:$even}">
        <div class='col-sm-2 divTableCell'>
            <div>{{p.number}}</div>
          <div class="text-muted">{{p.short_description}}</div>
        </div>
        <div class='col-sm-8 divTableCell'>
            <div class="checkout-wrap">
                <ul class="checkout-bar">
                    <li ng-repeat="state in c.data.states track by $index" ng-class="c.progressBarState(this)">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
